<h3>仿真图绘制</h3>
<div>仿真图1</div>
<div class="top_picture" >
<img class="picture" src="assets\img\simulation1.png" alt=" simulation1">
<img class="picture" src="assets\img\simulation2.png" alt=" simulation1">
<img class="picture" src="assets\img\simulation3.png" alt=" simulation1">
<img class="picture" src="assets\img\simulation4.png" alt=" simulation1">
</div><br><br><br>
<div>仿真图2</div>
<div class="top_picture">
<img class="picture" src="assets\img\simulation5.png" alt=" simulation1">
<img class="picture" src="assets\img\simulation6.png" alt=" simulation1">
<img class="picture" src="assets\img\simulation7.png" alt=" simulation1">
<img class="picture" src="assets\img\simulation8.png" alt=" simulation1">
</div>
