<!--The content below is only a placeholder and can be replaced.-->
<div id="header">
<h1 > {{"量子密钥分发网络"}}</h1>
</div>
<ul>
<!--  导航栏-->
  <img src="assets\img\QKD2.png"/>
<!--  <li *ngFor="let item of element;let i of table;let key = index">-->
<!--    <a [title]="item" routerLink='/{{i}}' routerLinkActive="active" class="active">{{item}}</a></li>-->
<li >
  <a title="topology" routerLink='/topology' routerLinkActive="active" class="active">拓扑及初始化信息</a>
  <a title="resource" routerLink='/resource' routerLinkActive="active" class="active">资源使用状态信息</a>
  <a title="routing" routerLink='/routing' routerLinkActive="active" class="active" >路由选择状态信息</a>
  <a title="plot" routerLink='/plot' routerLinkActive="active" class="active" >仿真图绘制</a>
</li>
</ul>
<router-outlet></router-outlet>
<!--以下最好单独放在一个组件中-->
